# Node & npm (si jamais tu ajoutes du frontend)
node_modules/
npm-debug.log*

# Docker
docker-compose.override.yml
docker-compose*.yml.bak
**/mysql-data/
**/mysql-config/
**/docker-entrypoint-initdb.d/
*.sock

# PHP
vendor/
composer.lock

# MySQL fichiers de base de données
*.pid
*.log
*.sql
*.sqlite
*.db

# Visual Studio Code
.vscode/
*.code-workspace

# Fichiers systèmes Windows / Mac
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Fins de lignes gérées
*.sh text eol=lf
*.php text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
